# OpenAI API Key
OPENAI_API_KEY=
# Qdrant Vector Database
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION_NAME=enterprise_docs

# Google Drive API
GOOGLE_DRIVE_CLIENT_SECRET_FILE=client_secret.json
GOOGLE_DRIVE_TOKEN_FILE=token.json
